:root {
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: #212121;
    --soldout-text-color: #bebebe;
    --nav-text-color: #ffffff;
    --nav-selected-text-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.body {
    height: 100vh;
    color: var(--main-text-color);
    scroll-behavior: smooth;
    overflow-y: auto;
    z-index: -2;
}

.fixed-hero {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75vh;
    z-index: -1000;
    background-color: #fff;
}

.fixed-hero video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 85vh;
    z-index: -1000;
}

.fixed-hero:before {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 85vh;
    opacity: 0.4;
    z-index: -100;
}

.hero-section {
    position: relative;
    height: 75vh;
    width: 100%;
    display: grid;
    place-content: center;
    color: rgb(255, 255, 255);
}

.hero-section h1 {
    text-transform: none;
}

h1,
h2,
h3 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.hero-section h1 {
    font-weight: 400;
    font-size: 30px;
}

.content {
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: justify;
}

.content h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px;
}

.content h3 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}

.content p+h3 {
    margin-top: 30px;
}

.content p+p {
    margin-top: 10px;
}

.sub-content {
    display: flex;
    margin-bottom: 20px;
}

.sub-content h3 {
    margin-bottom: 3px;
}

.sub-content .image {
    flex: 0 0 15%;
    display: flex;
    justify-content: left;
    margin: auto;
}

.sub-content .image img {
    width: 100px;
}

.sub-content .image-row img {
    transition: transform 0.3s ease;
}

.sub-content .image-row img:hover {
    transform: scale(1.05);
}


section.text-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--main-background-color);
}

section.text-container .container {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 0;
}

section.text-container .content-text-soldout {
    color: var(--soldout-text-color);
}

section.video-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    z-index: 1;
}

section.video-container video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section.video-container img {
    display: none;
}

.image-row {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-row img {
    width: 32%;
    height: auto;
}

/* Navigation */
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 999;
}

nav .content {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    justify-content: space-between;
    max-width: 100%;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li+li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 300;
    color: var(--nav-text-color);
    position: relative;
    z-index: 1;
    padding: 3px 0px;
}

nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

nav img.logo {
    width: auto;
    height: 30px;
}

.legal nav ul li a {
    color: black;
}

.legal nav ul li a:after {
    background: black;
}

.social-media-buttons {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.social-media-buttons img {
    width: 36px;
    margin: 5px;
    opacity: 0.8;
}

.social-media-buttons img:hover {
    scale: 1.1;
    opacity: 0.9;
}

.footer {
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.footer a {
    color: var(--main-text-color);
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--nav-selected-text-color);
}

.footer .legal a {
    text-decoration: none;
}

.footer .legal {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
}

.fixed-hero img {
    display: none;
}

.mobile-content {
    display: none;
}

/* Screen transformation for mobile */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    .image,
    .content-text {
        flex: 0 0 100%;
    }

    .content-text-soldout {
        flex: 0 0 100%;
    }

    .container .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sub-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sub-content .image {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .content {
        padding-right: 30px;
        padding-left: 30px;
    }

    .hero-section video {
        height: 85vh;
    }

    section.video-container video {
        display: none;
    }

    section.video-container img {
        display: inline;
    }

    section.video-container {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: var(--main-background-color);
    }

    .mobile-content {
        overflow: hidden;
        display: block;
    }

    .mobile-content img {
        max-width: 100%;
    }

    .mobile-content img+img {
        padding-top: 20px;
    }

    .fixed-hero video {
        display: none;
    }

    .fixed-hero img {
        position: absolute;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 85vh;
        z-index: -1000;
    }

    .footer .legal {
        padding-top: 60px;
        padding-bottom: 110px;
    }
}